source https://api.nuget.org/v3/index.json
framework: auto-detect

nuget FSharp.Core

group Build
    source https://api.nuget.org/v3/index.json
    framework: net8.0
    
    // pinning just for Build group; app can use whatever
    // why restrict version ranges? Because these FAKE packages work with specific MSBuild/Microsoft.Build package versions
    // -- in other words, it's as if these FAKE packages have implicit version constraints on some transitive dependencies,
    // but they're not actually constrained on the package, so we have to do that ourselves
    nuget FSharp.DependencyManager.Paket ~> 7.0
    nuget FSharp.Core
    nuget Fake.Core.Target ~> 6.0.0
    nuget Fake.DotNet.Cli ~> 6.0.0
    nuget Fake.DotNet.MSBuild ~> 6.0.0
    nuget Fake.DotNet.Paket ~> 6.0.0
    nuget Fake.Tools.Git ~> 6.0.0
    nuget MSBuild.StructuredLogger 2.2.240 
    nuget Fake.Installer.Wix ~> 6.0.0
    nuget Microsoft.Build ~> 17.5.0
    nuget Microsoft.Build.Framework ~> 17.5.0